.productDetail{
  min-height: calc(100vh - 103px - 127px);
  @include lowerIpad {
    min-height: calc(100vh - 103px - 84px);
  }
  @include small-mobile {
    min-height: calc(100vh - 114px - 103px);
  }
}
.breadcrumb-item {
  font-size: 16px;
}
.product-info{
  @include mobile{
    margin-top: 8px;
  }
  .price,
  .addCart {
    border-bottom: 1px solid rgba($secondary,0.2);
    .btn {
      width: 48%;
      @include button(white)
    }
  }
  .icon a:hover{
    text-decoration: none;
  }
  .reminder{
    .btn-link{
      text-decoration: none;
      &:hover,&:active{
        color: theme-color-level(primary, 5);
      }
    }
  }
  li {
    list-style-type: disc;
  }
}
.similarList{
  justify-content: start;
  padding-left: 0;
  li {
    width: 40%;
    margin: 0 1% 20px 1%;
    list-style-type: none;
    a:hover,a:active{
      text-decoration: none;
    }
    .img {
      max-height: 230px;
      overflow: hidden;
      position: relative;
      @include desktop {
        max-height: 180px;
      }
      @include mobile{
        max-height: 200px;
      }
      @include small-mobile {
        max-height: 165px;
      }
      &:hover {
        filter: opacity(60%);
        & button {
          display: block;
        }
      }
      img {
        transition: transform .5s ease;
      }
      &:hover img {
        transform: scale(1.2);
      }
      button {
        display: none;
        position: absolute;
        top: 50%;
        left: 35.5%;
      }
    }
    .card-body{
      padding: 10px;
    }
    .productTitle {
      height: 32px;
    }
  }
}
