@mixin bg-img {
  background-position: center;
  background-repeat: no-repeat;
};
@mixin a{
  text-decoration: none;
  border-bottom: 2px solid $primary;
  color: theme-color-level(primary, 2);
}
@mixin button($theme){
  &:hover,&:active{
    color: $theme;
  }
}

// 斷點
@mixin desktop{
  @media (max-width:1024px) {
    @content   
  }
};
@mixin ipad{
  @media (max-width:768px) {
    @content
  }
};
@mixin lowerIpad {
  @media (max-width:767px) {
    @content
  }
};
@mixin mobile {
  @media (max-width:576px) {
    @content
  }
};
@mixin small-mobile {
  @media (max-width:414px) {
    @content
  }
}

